@namespace VanillaBlazor
@inherits VContentComponentBase<TModel>
@typeparam TModel

<CascadingValue Value="this" IsFixed="true">
    @*<CascadingValue Value="@ColumnContext" IsFixed>
        <CascadingValue Name="IsInitialize" Value="true" IsFixed>
            @if (ChildContent != null)
            {
                @ChildContent(Model)
            }
        </CascadingValue>
        <table>
            <CascadingValue Value="VColumUse.Header" IsFixed>
                @THeaderFragment()
            </CascadingValue>
            <CascadingValue Value="VColumUse.Body" IsFixed>
                @TBodyFragment()
            </CascadingValue>
        </table>
    </CascadingValue>*@

    @ContentFragment()
</CascadingValue>
